KERNEL=="card*", \
SUBSYSTEM=="drm", \
SUBSYSTEMS=="pci", \
DRIVERS=="i915", \
ATTRS{vendor}=="0x8086", \
ATTRS{boot_vga}=="0", \
SYMLINK+="dri/intel-igpu"
